<ul class="media-list">
  <li class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h4 class="media-heading">ワイン</h4>
      <div class="media">
        <div class="media-left media-middle">
        </div>
        <div class="media-body">
          <%= link_to category_fermentation_product_url(category_id: 1, fermentation_id: 1, id: 1) do%>
            <h4 class="media-heading">・白ワイン</h4>
          <% end %>
        </div>
      </div>
    </div>
  </li>
</ul>
