<div class="container">
    <div class="page-header">
        <h1 id="timeline">Categories/Fermentaions</h1>
    </div>
    <ul class="timeline">
      <% @categories.each do |category| %>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h3 class="timeline-title">
                <% if category %>
                  <%= category.name %>
                <% end %>
              </h3>
            </div>
            <% category.fermentations.each do |fermentation| %>
              <div class="timeline-body">
                <h4>
                  <% if fermentation %>
                    <%= link_to fermentation.name, category_fermentation_path(category, fermentation) %>
                  <% end %>
                </h4>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
</div>
